I have a joke about recursion... but I have a joke about recursion, but I have a joke about recursion, but I have a joke about recursion, but I have a joke about recursion, but I have a joke about recursion, but I have a joke about recursion, but I …
I had a joke about variables... but sadly I can’t remember it.
What jungle animal has only two states – jumping out and scaring people or not... a Boo-lion!
There are 10 types of people:... those who understand binary, and those who don’t.
Two bits walked into an expensive bar... but were thrown out because they didn’t have enough for a byte.
What does the R in Recursion stand for?... Recursion.
How easy is it to count in binary?... It's as easy as 01 10 11!
How did the first program die?... It was executed.
How did the second program die?... From a bug byte.
Why did the computer programmer quit?... He didn't get arrays!
Why did the PowerPoint presentation cross the road?... To get to the other slide.
Why couldn't the computer science student read his textbook?... He couldn't find page 404.
Why do Java programmers wear glasses?... They can't C#.
Why was the computer cold?... It left its Windows open!
Why do programmers prefer dark mode?... Because light attracts bugs!
Why did the computer go to the dentist?... It had Bluetooth!
Why did the computer always go on a diet?... It had too many cookies!
Why did the programmer confuse Halloween and Christmas?... Because 31 Oct == 25 Dec!
Why did C++ decide not to go out with C?... Because quite frankly, C just has no class!
What's the object-oriented way to become wealthy?... Inheritance!
A computer scientist named Bob was about to leave to rent a movie. As Bob was heading out, his wife said, "while you're out, pick up some eggs."... Bob never came back.
A semaphore and mutex walk in the bar... only one got through the door.
Why don't programmers like nature?... It has too many bugs
What is it called when programmers make fun of each other?... Cyber boolean.
What is the first step to understand recursion?... To understand recursion.
What does a programmer wear?... Whatever is in the dress code.
Why did the IRC server and client get married?... Because they had a connection!
Why did the programmer's girlfriend leave him?... Because he had problems committing.
Debugging is like being the detective in a crime movie... where you're also the murderer.
What do you call a computer mouse that swears a lot?... A cursor.
What is similar to windows but can instantly detect the cause of most coding problems?... A mirror.
How do you comfort a JavaScript bug?... You console it!
Why did the SQL query go to therapy?... It had too many relationship issues!
What's a pirate's favorite programming language?... R!
Why did the exception go to prison?... Because it was tried and caught!
Why did the programmer apply to a job as a plumber?... She was good at fixing leaks!
Why don't leaks ever apologize?... Because they just can't seem to forget.
Why did the leak escape from prison?... It wanted to be free.
What's a bug's favorite game?... Hide and seek!
Why don't programmers like to get into arguments?... Because they always avoid conflicts.
How did the developer go broke?... They lost all their cache.
Why did the programmer apply to a job as a doorman?... He was good at pulling and pushing.
What does C++ and French grammar have in common?... A lot of exceptions!
What does shell and a genie have in common?... Your wish is their command!
What does minishell and a telescope have in common?... They both let you see a black hole from up close.
How does a programmer organise his bath toys?... By bubble sort.
Why did the browser cross the road?... To get to the other site.
What do I have in common with a remote?... We both connect to channels.
Eight bytes walk into a bar. The bartender asks, “Can I get you anything?”... “Yeah,” reply the bytes “Make us a double.”
How did the programmer die in the shower?... He read the shampoo bottle instructions: Lather. Rinse. Repeat.
A SQL query walks into a bar, walks up to two tables and asks... Can I join you?
An optimist finds the glass half-full, a pessimist finds it half-empty, how does the programmer see it?... Twice as large as necessary!
Why are Assembly programmers always soaking wet?... They work below C-level!
The C language combines all the power of assembly language... with all the ease-of-use of assembly language!
Why did the cop pull over the threads?... Because they were racing!
There are 2 types of people in the world... Those who can extrapolate from incomplete data…
3 Errors walk into a bar... The barman says, “Normally I’d Throw you all out, but tonight I’ll make an Exception.”
How does a programmer cross a one-way street?... By looking both ways.
What do computers and air conditioners have in common?... They both become useless when you open windows.
How are you liking my jokes so far?... I give them a C++.
What does the programmer says to his wife when he gets back from work?... Honey! I'm 127.0.0.1!
What's a developer's favorite tea?... URL grey.
What's a programmer's favorite herb?... Parsely.
You know what screams insecure?... http://
Why are i and j such good sources of information?... Because they're always in the loop!
How did pirates communicate before the internet?... peir-to-pier networking.
What do you call a group of eight hobbits?... A hobbyte!
I tried to tell a dad joke to a function... But it didn't get the reference.
Why do web developers wear glasses?... To improve their site!
My team had a debate on what the best looping variable name is... i won!
Why was the SQL developer fired from the moving company?... He dropped too many tables
I got really angry and smashed my keyboard... I completely lost CTRL.
Say what you want about SQL... but it brings a lot to the table.
I walked down a street where the houses were numbered 64K, 128K, 256K, 512K and 1MB... It was a nice trip down memory lane
I have a joke about computers... but it’s not PC.
Roses are red, Violets are blue... Unexpected ‘{‘ on line 32.
What's the difference between the USA and a USB?... One connects to devices and stores your data and the other is a hardware standard.
How do you annoy a software developer with a problem?... Nevermind, I figured it out.
Why did the machine learning algorithm jump off the bridge?... Because all it's friends jumped.
Romantic partners are like domain names... The ones you like are already taken.
What's the best way to catch a computer mouse?... Click-bait!
Why was the orphan jealous of C++?... Because they never got to try catch.
Are you a bug in my code?...Because I want to spend all my time on you.
Why did the programmer enjoy pressing F5?... He found it refreshing!
!false... it's funny because it's true!
A programmer had a problem. He thought to himself: "I know, I'll solve this with threads!"... has Now problems. two he
