--------------------------------------------------
                    COMMANDS
--------------------------------------------------
CAP    --->  Negociates server capabilities
PASS   --->  Enter server password
NICK   --->  Set or changes your nickname
USER   --->  Set your username, hostname, servername and realname
JOIN   --->  Join or Create a channel
TOPIC  --->  Querry, set or unset a channel's TOPIC
LIST   --->  List all existing channels
NAMES  --->  Retrieve a list of users of a specific channel
WHO    --->  Get information about a user or a channel
WHOIS  --->  Get detailed information about a user
INVITE --->  Invite a user to a channel
KICK   --->  Force a user out of a channel
PART   --->  Leave a channel
QUIT   --->  Leave the IRC server
--------------------------------------------------
