--------------------------------------------------
                    COMMANDS
--------------------------------------------------
CAP      --->  Negociates server capabilities
PASS     --->  Enter server password
NICK     --->  Set or changes your nickname
USER     --->  Set your username, hostname, servername and realname
JOIN     --->  Join or Create a channel
TOPIC    --->  Querry, set or unset a channel's TOPIC
LIST     --->  List all existing channels
NAMES    --->  Retrieve a list of users of a specific channel
WHOIS    --->  Get detailed information about a user
INVITE   --->  Invite a user to a channel
KICK     --->  Force a user out of a channel
PART     --->  Leave a channel
QUIT     --->  Leave the IRC server
PRIVMSG  --->  Send a private message to a user or channel
NOTICE   --->  Send a message to a user or channel that bots cannot respond to
MODE     --->  Change channel restrictions and settings:
  `-->  i : Set/remove Invite-only channel restriction
  `-->  t : Set/remove the restrictions to set TOPIC to channops
  `-->  k :  Set/remove the channel key (password)
  `-->  o :  Give/take channel operator privilege
  `-->  l :  Set/remove the user limit to channel
--------------------------------------------------
Server by hkhater, nplieger, & mfaucheux
