--------------------------------------------------
                    COMMANDS
--------------------------------------------------
NICK   --->  Set or changes your nickname
USER   --->  Set your username and real name
JOIN   --->  Join or Create a channel
TOPIC  --->  Querry or (un)set a channel's TOPIC
LIST   --->  List all existing channels
NAMES  --->  Get the nicknames of all channel members
WHO    --->  Get information about a user or channel users
WHOIS  --->  Get information form a nickname
INVITE --->  Invite a user to an invite-only channel
KICK   --->  Force a user out of a channel
BAN    --->  Ban a user from a channel
PART   --->  Leave a channel
QUIT   --->  Leave the IRC server
--------------------------------------------------
